// VARIABLES
$body-fontfamily: 'acumin-pro', Helvetica, arial, sans-serif;
$heading-fontfamily: 'kepler-std', georgia, serif;

// COLORS
$color-text-body: rgb(122, 0, 112);
$color-accent: rgb(255, 150, 250);
$color-midgrey: rgb(50, 0, 56);
$color-links: #069;
$color-links-dark: rgb(83, 0, 76);
$color-hero-bg: #fff;

// BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

// IMPORT PARTIALS
@import 'partials/toc'; 
@import 'partials/typography';
@import 'partials/buttons';
@import 'partials/media';
@import 'partials/layout';
@import 'partials/grid';
@import 'partials/structure';